* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    clear: both;
}

* html .clearfix {
    zoom: 1;
}

*:first-child+html .clearfix {
    zoom: 1;
}

.pageConatiner {
    position: relative;
}

header {
    padding: 20px;
}

.pageHeader_title {
    float: left;
    text-decoration: underline;
}

.pageHeader_inner {
    width: 97%;
    margin: 0 auto;
}

.nav_btn {
    float: right;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #777;
    background: transparent;
}

main {
    background: #ddd;
    height: 100vh;
    padding: 25px;
}

.pageContent {
    margin: 0 auto;
    width: 97%;
}

p {
    margin-bottom: 20px;
}

.dialog {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
}

.dialog_title {
    padding: 15px;
    margin-bottom: 15px;
    background: #999;
    color: white;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.dialog_content {
    padding: 20px;
}

.dialog_link {
    line-height: 1.5;
    text-decoration: none;
    color: #222;
}

.dialog_buttonWrapper {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
}

.btn {
    width: 100px;
    height: 44px;
    background: #999;
    border: 1px solid #999;
    color: white;
    cursor: pointer;
}

.btn-confirm {
    margin-left: 15px;
    background: #00ddff;
    border-color: #00ddff;
}

.dialog_overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.dialog[aria-hidden="true"],
.dialog_overlay[aria-hidden="true"] {
    display: none;
}